.resimSlider{
    height:600px;
}

body{
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.hakkimizda{
    background-color: #fff7ed;
}

.cizgi{
    border: none;
    border-top: 3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
}

.igri{
    color: #343a40;
    position: relative;
    top:-55px;
    font-size: 40px;
    border: 10px solid #fff7ed;
    background-color: #fff7ed;
}

.ibeyaz{
    color: #343a40;
    position: relative;
    top:-55px;
    font-size: 40px;
    border: 10px solid white;
    background-color: white;
}

.ekipCard>img:hover{
    opacity: 0.8;
}

.galeri{
    background-color: #fff7ed;
}

.figure:hover{
    opacity: 0.8;
}
